@charset "utf-8";


#skipToContent {display:none;}
html,body{background: #000;}
h1 {display:none;}

/* header */
header {display:none;}
header h2 {display:none;}

/* visul */
.visual {width:100%; height:100vh; position:relative; background:url('../images/bg_visual.jpg') no-repeat; background-position:0 0; overflow:hidden;}
.space-move {position:absolute; top:-60%; left:-30%; width:75.3125%/*1446px*/; height:1286px; background:url('../images/space_move.png') no-repeat; background-size:100%;opacity:1;}
.stars {position:absolute; bottom:-20%; right:-30%; width:74%;/*1421px;*/ height:934px; background:url('../images/space_move2.png') no-repeat; background-size:100%; opacity:1;}
.visual .name {width:100%; position:absolute; top:30%; text-align:center; font-size:90px; color:rgba(255,255,255,0.7); letter-spacing:0.05em;}
.visual .name span {display:block; font-family:'Poppins'; font-weight:Bold; font-size:130px; line-height:120px; color:rgba(255,255,255,0.9);}
.visual .name sup {position:relative;}
.visual .typing-txt {width:100%; position:absolute; top:50%; left:0; font-size:20px; color:#fff; text-align:center;}
.bar {border-right: 0.08em solid #fff}
.v-line {display:block; width:1px; height:150px; position:absolute; bottom:0; left:55%; border-left:1px solid #9898bd; opacity:0.7; z-index:1;}
.btn-go-down {margin-left:-39px; position:absolute; bottom:20%; left:50%; font-size:11px; color:#9898bd; text-decoration:none; opacity:0.8;}
.btn-go-down:hover {text-decoration:none;}
.fa-sort-down {position:absolute; bottom:20%; left:54.7%; font-size:15px; color:#fff; z-index:1;}
.btn-go-down:hover ~ .v-line {height:90px; transition:1s;}
.btn-go-down:hover ~ .fa-sort-down {bottom:12%; transition:1s;}

/* visual animation */
@keyframes spaceMove {
    0%   {background-position:20% 30%;opacity:1;}
    50%   {background-position:100% 100%;top:70%; left:70%;opacity:0.3;}
    100% {background-position:20% 30%;top:0;left:0;opacity:1;}
}

@keyframes starMove {
    0%   {background-position:100% 100%;opacity:1;}
    50%   {background-position:0% 0%; bottom:30%; right:50%;opacity:0.5;}
    100% {background-position:100% 100%;top:0;right:0;opacity:1;}
}

@keyframes bgMove {
	20% {background-position:0 0;}
	50% {background-position:100% 100%;}
	100% {background-position:100% 100%;}
}

@keyframes line1Move {
	0% {left:60%;}
	50% {left:0;}
	100% {left:60%;}
}

@keyframes line2Move {
	0% {bottom:30%;}
	100% {bottom:100%;}
}
.space-move {animation: spaceMove 150s linear 0s infinite;}
.visual .txt span {animation: textSparkle 10s ease-in 0s infinite;}
.stars {animation: starMove 100s linear 0s infinite;}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* about */
.about {width:100%; height:150vh; position:relative; background:#fff; overflow:hidden;}
.about .v-line {display:block; width:1px; height:200px; position:absolute; top:0; left:55%; border-left:1px solid #9898bd;}
.about .v-line.v2 {height:200px; top:auto; bottom:0; left:45%;}
.about h2 {padding:250px 0 80px; font-size:40px; line-height:40px; color:#fff; text-align:center;}
.about h2 span {display:block; font-weight:200; font-size:20px;}
.about .inner {position:relative; height:100%; z-index:1;}
.about .bg {width:100%;height:100%;position:absolute; top:0; left:0; background:#000;}
.about .bg .star {position:absolute;top:0;left:0;display:block;width:100%;height:100%;}
.about .bg .star img {width:100%;height:100%;opacity:0;}
.about .bg .star.v1 img {animation: starScale 9s linear 0s infinite;}
.about .bg .star.v2 img {animation: starScale 9s linear 3s infinite;}
.about .bg .star.v3 img {animation: starScale 9s linear 6s infinite;}

@keyframes starScale {
    0%   {transform:scale(0);opacity:0;}
    20%  {opacity:1;}
    100% {transform:scale(3);opacity:1;}
}

@keyframes moonRotate {
    0%   {transform:rotate(0deg) scale(1);opacity:0.7;}
    50% {transform:rotate(360deg) scale(0.7);opacity:0.3;}
    100%   {transform:rotate(0deg) scale(1);opacity:0.7;}
}

.circle-area {width:500px; height:500px; position: relative; margin:0 auto;}
.about .circle {width:300px; height:300px; margin:10% auto 0; position:relative; background:url('../images/moon.png') no-repeat; background-size:100%; border-radius:100%; opacity:0.7; z-index:2;}
.about .circle {animation:moonRotate 50s linear 0s infinite;}
.about .introducing {position:absolute; top:-5%; left:0; width:100%;}
.about .introducing h3 {position:absolute; top:65%; left:0; width:100%; text-align:center;}
.about .introducing ul {position:relative; width:100%; font-size:16px; line-height:20px; color:#fff;}
.about .introducing ul {animation:aboutListRotate 50s linear 0s infinite reverse}
.about .introducing span {padding:0 2px;}


 @keyframes aboutListRotate {
    0%   {transform:rotate(360deg) scale(1);opacity:0.7;}
    50%   {transform: rotate(0deg) scale(0.7);opacity:0.3;}
    100%   {transform: rotate(360deg) scale(1);opacity:0.7;}
}

/* skills */
.skill {position:absolute; bottom:24%; left:0; width:100%;}
.skill ul {width:32%; margin:0 auto;}
.skill ul li {padding:0 0 1.5% 28%;}
.skill ul li h3 {float:left; margin-left:-40%; width:160px; font-weight:normal; font-size:15px; line-height:16px; color:#fff; text-align:right;}
.skill ul li:nth-child(even) h3 {float:right; text-align:left;}
.skill ul li div {float:left; width:61%; height:15px; border:1px solid rgba(255,255,255,0.3); vertical-align:middle; box-sizing:border-box;}
.skill ul li div:nth-child(even) {text-align:right;}
.skill ul li div span {display:inline-block; width:auto; font-size:11px; line-height:14px; color:#000; background:#fff; text-align:center; vertical-align:top;}

/* portfolio */
.portfolio {position:relative;}
.portfolio .v-line {display:block; width:1px; height:130px; position:absolute; top:0; left:45%;
border:none; background-color: #000}
.portfolio h2 {padding:140px 150px 180px 175px; position:relative;font-size:40px; line-height:40px; color:#000; text-align:center; /*background: #f5f5f5;*/}
.portfolio h2:after {content: "";display:block; width:1px; height:120px; position:absolute; bottom:11%; left:45%; border:none; background-color: #000}
.portfolio .tab-menu {padding:2% 0; text-align: center;}
.portfolio .tab-menu li {display:inline; padding-left:15px;}
.portfolio .tab-menu li:first-child {padding-left:0;}
.portfolio .tab-menu li a {font-size:17px; color:#000; text-decoration: none;}
.portfolio .tab-menu li:hover a, .portfolio .tab-menu li.active a {background:#000; color:#fff;}
.portfolio .site-list {margin:0 -1%;}
.portfolio .site-list:first-child {background:red;}
.portfolio .site-list:after {content:" "; display:block; clear:both;}
.portfolio .site-list {width:80%; margin:0 auto;}
.portfolio .site-list li {float:left; display:none; width:25%; height:auto; padding:1%; position: relative; font-size:0; text-align:center; transition:0.5s; overflow: hidden; box-sizing: border-box;}
.portfolio .site-list li:nth-child(-n+8) {display:block;}
.portfolio .site-list li a {display: block; width:100%; border:1px solid #000;overflow:hidden;}
.portfolio .site-list li img {width:100%; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ filter: grayscale(100%); opacity:0.7; transition: 0.5s;}
.portfolio .site-list li:hover img {
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1); /* Safari */
    transform: scale(1.1, 1.1);
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */ filter: grayscale(0); opacity:1;
}
.portfolio .site-list li h3 {display:none; width:80%; height:80%; margin:0 10%; padding:10%; position:absolute; top:10%; left:0; font-size:20px; line-height:20px; color:#000; text-align: center; box-sizing: border-box; background:rgba(255,255,255,0.5);}
.portfolio .site-list li a:hover h3 {display: block;}
.portfolio .site-list p {padding:10% 0; font-size:20px; line-height:20px; color:#000; text-align:center;}
.portfolio .btn {padding:10% 0; position:relative; text-align: center;}
.portfolio .btn:before, .portfolio .end-txt:before {content: "";display:block; width:1px; height:80px; position:absolute; top:20%; left:52%; border:none; background-color: #000}
.portfolio .btn:after, .portfolio .end-txt:after {content: "";display:block; width:1px; height:150px; position:absolute; bottom:0; left:52%; border:none; background-color: #000}
.portfolio .btn a {font-size: 20px; line-height:20px; color: #000; text-decoration: none;}
.portfolio .btn a:hover {color:#fff; background:#000;}
.fa-eye {margin-top:-5px; font-size:20px; line-height:20px; vertical-align: middle;}
.portfolio .end-txt {display:none;padding:10% 0; position:relative;font-size: 20px; line-height:20px; color: #000; text-decoration: none; text-align: center;}
.portfolio caption {display: none;}
.portfolio .site-list#siteListE {position:relative; border:1px solid #000; border-bottom:none; overflow: hidden;}
.portfolio .site-list#siteListE:after {content:""; display:block; width:100%; height:1px; position:absolute; left:1px; bottom:0; background:#000;}
.portfolio .site-list#siteListE li {display:table-cell; height:40px; padding:0; font-size: 15px; line-height:40px; border-bottom: 1px solid #000;}
.portfolio .site-list#siteListE li a {color:#000; text-decoration:none; border:none;}

/* footer */
footer {background:#000;}
footer h2 {display:none;}
footer .inner {padding:2% 0;}
footer address {font-style: normal; font-size: 14px; line-height:25px; color: #fff; text-align: center;}


